# Datadog Configuration
DD_API_KEY=your-datadog-api-key-here
DD_APP_KEY=your-datadog-app-key-here

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=ecommerce-akmal
DB_PASSWORD=akmal2121234

# Service Configuration
EUREKA_HOST=eureka-server